<section>
  <h2>{{ "FOOTER.LICENSE" | translate }}</h2>
  <p>{{ "LEGAL.COPYRIGHT" | translate }}</p>

  <h2>{{ "LEGAL.LICENSE.TITLE" | translate }}</h2>
  <h3>{{ "LEGAL.LICENSE.SUBTITLE1" | translate }}</h3>
  <p>{{ "LEGAL.LICENSE.TEXT" | translate }}</p>
  <p>{{ "LEGAL.LICENSE.LIST1.TITLE" | translate }}</p>

  <ul>
    <li>{{ "LEGAL.LICENSE.LIST1.1" | translate }}</li>
    <li>{{ "LEGAL.LICENSE.LIST1.2" | translate }}</li>
  </ul>

  <p>{{ "LEGAL.LICENSE.LIST2.TITLE" | translate }}</p>

  <ul>
    <li>{{ "LEGAL.LICENSE.LIST2.1" | translate }}</li>
    <li>{{ "LEGAL.LICENSE.LIST2.2" | translate }}</li>
    <li>{{ "LEGAL.LICENSE.LIST2.3" | translate }}</li>
  </ul>

  <h3>{{ "LEGAL.LICENSE.SUBTITLE2" | translate }}</h3>
  <p>{{ "LEGAL.LICENSE.SOURCE" | translate }}</p>
</section>
