<main class="flex flex-col min-h-screen">
  <app-header />
  <div class="flex-1 sm:mx-14 md:mx-24 lg:mx-34 xl:mx-44 2xl:mx-64 my-8">
    <router-outlet />
  </div>
  <footer class="bg-gray-800 text-white py-8 px-6">
    <div
      class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-4 gap-8 items-center"
    >
      <img src="/assets/logo-uib.webp" alt="Logo UIB" class="w-72" />

      <nav class="flex flex-col gap-2">
        <h4 class="text-lg font-bold">{{ "FOOTER.NAVIGATION" | translate }}</h4>
        <a routerLink="/" class="hover:text-blue-600 transition-colors">{{
          "HEADER.NAVBAR.HOME" | translate
        }}</a>
        <a routerLink="/rubric" class="hover:text-blue-600 transition-colors">{{
          "HEADER.NAVBAR.RUBRIC" | translate
        }}</a>
      </nav>

      <nav class="flex flex-col gap-2">
        <h4 class="text-lg font-bold">{{ "FOOTER.LEGAL" | translate }}</h4>
        <a routerLink="/legal" class="hover:text-blue-600 transition-colors"
          >Copyright</a
        >
        <a
          routerLink="/contact"
          class="hover:text-blue-600 transition-colors"
          >{{ "FOOTER.CONTACT" | translate }}</a
        >
      </nav>

      <img src="/assets/logo-soib.webp" alt="Logo SOIB" class="w-72" />
    </div>
  </footer>
</main>
