<main class="flex flex-col space-y-8 p-14">
  <section>
    <h2 class="section-title">
      {{ 'HOME.ABOUT_PROJECT_TITLE' | translate }}
    </h2>
    <p class="p-4">{{ 'HOME.ABOUT_PROJECT_TEXT' | translate }}</p>
  </section>

  <section>
    <h2 class="section-title">
      {{ 'HOME.PROJECT_OBJECTIVES_TITLE' | translate }}
    </h2>
    <p class="p-4">{{ 'HOME.ABOUT_PROJECT_TEXT' | translate }}</p>
  </section>

  <section>
    <h2 class="section-title">
      {{ 'HOME.RUBRIC_FUNCTION_TITLE' | translate }}
    </h2>
    <p class="p-4">{{ 'HOME.ABOUT_PROJECT_TEXT' | translate }}</p>
  </section>
</main>
