<main class="flex flex-col space-y-12">
  <section>
    <h2 class="section-title">
      {{ "HOME.ABOUT_PROJECT.TITLE" | translate }}
    </h2>
    <p class="card whitespace-pre-line">
      {{ "HOME.ABOUT_PROJECT.TEXT" | translate }}
    </p>
  </section>

  <section>
    <h2 class="section-title">
      {{ "HOME.PROJECT_OBJECTIVES.TITLE" | translate }}
    </h2>
    <div class="card">
      <p>{{ "HOME.PROJECT_OBJECTIVES.TEXT" | translate }}</p>
      <ul>
        <li>{{ "HOME.PROJECT_OBJECTIVES.OBJECTIVE_LIST.1" | translate }}</li>
        <li>{{ "HOME.PROJECT_OBJECTIVES.OBJECTIVE_LIST.2" | translate }}</li>
        <li>{{ "HOME.PROJECT_OBJECTIVES.OBJECTIVE_LIST.3" | translate }}</li>
      </ul>
    </div>
  </section>

  <section>
    <h2 class="section-title">
      {{ "HOME.RUBRIC_FUNCTION.TITLE" | translate }}
    </h2>
    <div class="card whitespace-pre-line">
      <p>{{ "HOME.RUBRIC_FUNCTION.TEXT1" | translate }}</p>
      <ol class="list-decimal pl-8 py-4">
        <li>{{ "HOME.RUBRIC_FUNCTION.LIST1.1" | translate }}</li>
        <li>{{ "HOME.RUBRIC_FUNCTION.LIST1.2" | translate }}</li>
        <li>{{ "HOME.RUBRIC_FUNCTION.LIST1.3" | translate }}</li>
      </ol>
      <p>{{ "HOME.RUBRIC_FUNCTION.TEXT2" | translate }}</p>
      <ul>
        <li>{{ "HOME.RUBRIC_FUNCTION.LIST2.1" | translate }}</li>
        <li>{{ "HOME.RUBRIC_FUNCTION.LIST2.2" | translate }}</li>
      </ul>
      <p>{{ "HOME.RUBRIC_FUNCTION.TEXT3" | translate }}</p>
      <ul class="font-semibold">
        <li>{{ "HOME.RUBRIC_FUNCTION.LIST3.1" | translate }}</li>
        <li>{{ "HOME.RUBRIC_FUNCTION.LIST3.2" | translate }}</li>
        <li>{{ "HOME.RUBRIC_FUNCTION.LIST3.3" | translate }}</li>
      </ul>
    </div>
  </section>

  <section>
    <h2 class="section-title">
      {{ "HOME.RUBRIC_USE.TITLE" | translate }}
    </h2>
    <div class="card">
      <p>{{ "HOME.RUBRIC_USE.TEXT1" | translate }}</p>
      <ul>
        <li>{{ "HOME.RUBRIC_USE.LIST.1" | translate }}</li>
        <li>{{ "HOME.RUBRIC_USE.LIST.2" | translate }}</li>
        <li>{{ "HOME.RUBRIC_USE.LIST.3" | translate }}</li>
        <li>{{ "HOME.RUBRIC_USE.LIST.3" | translate }}</li>
      </ul>
      <p>{{ "HOME.RUBRIC_USE.TEXT2" | translate }}</p>
    </div>
  </section>
</main>
